@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(11, 32, 5);
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}
header{
    height: 104px;
    width: 960px;
    margin: auto; /* centrar el contenedor en horizontal */
    background-color: hsl(107, 73%, 4%) ;
}
main{
    height: 680px;
    width: 960px;
    margin: auto; /* centrar el contenedor en horizontal */
    background-color: hsl(107, 73%, 14%) ;
}
footer{
    height: 256px;
    width: 960px;
    margin: auto; /* centrar el contenedor en horizontal */
    background-color: hsl(107, 73%, 4%) ;
}